.blog-wrap {
    width: 200px;
    display: inline-block;
    height: auto;
    border: 1px solid #381717;
    padding: 10px;
    margin: 10px;
}

.blog-wrap img {
    width: 200px;
    height:200px;
}